@media (max-width:  800px) { :root { font-size: 18px; } }
@media (max-width:  500px) { :root { font-size: 16px; } }


body {
  overflow: overlay;
}
h1 {
  text-align: center;
}
.wrapper {
  max-width: 850px;
  margin: 0 auto;
  padding: 0px 10px;
  height: 100vh;
}
