@media (max-width:  800px) { :root { font-size: 14px; } }
@media (max-width:  500px) { #myGrid { font-size: 10px; } }


body {
  overflow: overlay;
}
h1 {
  text-align: center;
}

ul {
list-style: none;
padding: 10px;
margin: 0px;
}

#myGrid {
    display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 0px;
  width: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  overflow: hidden;
  float: left;
}
.wrapper {
  max-width: 850px;
  margin: 0 auto;
  padding: 0px 10px;
  height: 100vh;
}

.me-style {
  background-color: #dcdeef !important;
}

